.nav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 60px;
    border-bottom: 2px solid black;
}

.filters{
    display: flex;
    justify-content: space-around;
    
}
.btn{
    width: 80px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}
.imagenP img {
    width: 5em;
    height: 5em;
}
.imagenP img:hover {
    transform: scale(1.1);
}